body {
    background: url(/assets/img/noisy-texture-100x100-o5-d10-c-89c5fa-t0.png) repeat;
}

.body-container {
    background: #fff;
    background-color: white;
    color: black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 3px 1px rgba(50, 50, 50, 0.50);
    -moz-box-shadow: 1px 1px 3px 1px rgba(50, 50, 50, 0.50);
    box-shadow: 1px 1px 3px 1px rgba(50, 50, 50, 0.50);
    color: #555;
}

.body-container h1 {
    padding-bottom: 24px;
    color: #555;
}
