html {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background: url(/assets/img/2014_funrun.png) no-repeat center center fixed;
      background-size: cover;
}

body {
  background-color:transparent;
}


.transparent-container {
  background-color:white;
  color:black;
  opacity: 0.75;
  filter: alpha(opacity=75); /* For IE8 and earlier */
  -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}


/* put in the breakpoint variable and make some new ones in your variables.less file */

@media (min-width:768px){

  .navbar-default .navbar-nav > li:not(:last-child) {
    border-right:1px solid #ddd;
   }

  .navbar-default .navbar-nav > li:not(:first-child) {
    border-left:1px solid #fff;
   }

  .navbar-inverse .navbar-nav > li:not(:last-child) {
    border-right:1px solid #000;
   }

  .navbar-inverse .navbar-nav > li:not(:first-child) {
    border-left:1px solid #444;
   }


}
