html {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background: url(/assets/img/2014_funrun.png) no-repeat center center fixed;
      background-size: cover;
}

body {
  background-color:transparent;
}


.transparent-container {
  background-color:white;
  color:black;
  -webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

-webkit-box-shadow: 1px 1px 3px 1px rgba(50, 50, 50, 0.50);
-moz-box-shadow:    1px 1px 3px 1px rgba(50, 50, 50, 0.50);
box-shadow:         1px 1px 3px 1px rgba(50, 50, 50, 0.50);
}


/* put in the breakpoint variable and make some new ones in your variables.less file */

@media (min-width:768px){

  .navbar-default .navbar-nav > li:not(:last-child) {
    border-right:1px solid #ddd;
   }

  .navbar-default .navbar-nav > li:not(:first-child) {
    border-left:1px solid #fff;
   }

  .navbar-inverse .navbar-nav > li:not(:last-child) {
    border-right:1px solid #000;
   }

  .navbar-inverse .navbar-nav > li:not(:first-child) {
    border-left:1px solid #444;
   }


}
