/app/config/parameters.yml
/config/*
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.DS_Store
/web/assets/vendor/
build.properties
/.vagrant/
/nbproject/private/
nbproject/project.properties

nbproject/project.xml
/.scannerwork/
