{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="text-align:center;color: white;">
        <div class="row" style="height:80px">&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <h1>LRES PTO FUN RUN</h1>
                <p class="lead">ADMINSITRATION WEBSITE</p>
                <p>
                    <button class="btn btn-primary btn-lg">LOGIN</button>
                </p>
            </div>
        </div>

    </div>
{% endblock %}
