<!-- TWIG DESIGNED TO PROVIDE INFORMATION ON UPLOAD FORMAT FOR THE SPECIFIC ENTITY -->
<div>
  <h4>Steps to download team csv file from CauseVox</h4>
<ol>
  <li>Go to <a href="admin.causevox.com">admin.causevox.com</a> and login</li>
  <li>Select fundraising site (lower-right)</li>
  <li>Select "teams" under the "manage" section (left side)</li>
  <li>Click export button (<i class="glyphicon glyphicon-download-alt"></i>)</li>
  <li>NOTE: This file is already a CSV</li>
</ol>

</div>
<h5>Example:</h5>
<div>
    <pre>Name,URL,Members,"Funds Raised","Funds Needed",Admins,Grade,"Teacher's Name"<br/>"Ms. Lienau's Class",lienau,1,14.00,1000,,Kindergarten,"Kindergarten - Ms. Lienau"<br>"Ms. K Johnson's Class",kjohnson,2,2.00,2000,,"1st Grade","1st Grade - Ms. K Johnson"</br></pre>
</div>
