<!-- TWIG DESIGNED TO PROVIDE INFORMATION ON UPLOAD FORMAT FOR THE SPECIFIC ENTITY -->
<div>
  <h4>Steps to download fundraiser csv file from CauseVox</h4>
<ol>
  <li>Go to <a href="admin.causevox.com">admin.causevox.com</a> and login</li>
  <li>Select fundraising site (lower-right)</li>
  <li>Select "donations" under the "manage" section (left side)</li>
  <li>Click export button (<i class="glyphicon glyphicon-download-alt"></i>)</li>
  <li>Select Date Range</li>
  <li>Click Export</li>
  <li>NOTE: This file is already a CSV</li>
</ol>

</div>
<h5>Example:</h5>
<div>
    <pre>"Donation Page","Fundraiser First Name","Fundraiser Last Name","Fundraiser E-mail","Fundraiser Location","Donor First Name","Donor Last Name","Donor E-mail","Donor Comment",Anonymous,"Line 1","Line 2",City,State,"Zip Code",Country,Amount,"Est. CC Fee","CauseVox Fee",Tip,Type,Recurring,Subscribed,Giftaid,"Transaction ID","Donated at","Teacher's Name","Student's Name"</br>/team/lienau,,,,,David,Larrimore,,,no,,,,,,,12.00,0.00,0.00,0.00,manual,no,no,no,,"2016-08-25 16:27:20"," Kindergarten - Ms. Lienau",david</br>/2-goff-davidl,"David DC",Larrimore,davidlarrimore@gmail.com,0,DC,Larrimore,,,no,,,,,,,2.00,0.00,0.00,0.00,manual,no,no,no,,"2016-08-25 16:35:54"," 2nd Grade - Ms. Goff",David</br></pre>
</div>
