{% extends 'campaign.html.twig' %}
{% use 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ grade.name }}</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <dl class="dl-horizontal">
                <dt>ID</dt>
                <dd>{{ grade.id }}</dd>
                <dt>Name</dt>
                <dd>{{ grade.name }}</dd>
            </dl>
        </div>
    </div>
{% endblock %}
