{% extends 'crud.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1> WELCOME TO THE MANAGEMENT SCREEN </h1>
            </div>
        </div>
    </div>
{% endblock %}
