<!-- TWIG DESIGNED TO PROVIDE INFORMATION ON UPLOAD FORMAT FOR THE SPECIFIC ENTITY -->
<div>
    <h4>Steps to download "FUNRUN LEDGER" sheet</h4>
    <ol>
        <li>
            <a href="https://docs.google.com/a/lrespto.org/spreadsheets/d/1vf5xPgdgBnavyJposwsbawa2WydI-CDIEmNJe6tKTOU/edit?usp=sharing" target="_blank">Go to "FUNRUN LEDGER" Google Sheet</a>
        </li>
        <li>Select File -> Download As -> Comma-seperated Values (.csv, current sheet)</li>
        <li>NOTE: Please leave the header information in the first row</li>
    </ol>

</div>
<h5>Example:</h5>
<div>
    <pre>10/11/2016,"DATE: October, 11 2016",,,<br/>DATE,GRADE,TEACHERS_NAME,STUDENTS_NAME,AMOUNT<br/>10/11/2016,1st Grade,Ms. K Johnson,Amani,$450.00<br/>10/11/2016,1st Grade,Ms. K Johnson,Anabelle,$564.00</pre>
</div>
