<!-- TWIG DESIGNED TO PROVIDE INFORMATION ON UPLOAD FORMAT FOR THE SPECIFIC ENTITY -->
<div>
    <h4>Steps to download fundraiser csv file from CauseVox</h4>
    <ol>
        <li>Go to
            <a href="admin.causevox.com">admin.causevox.com</a>
            and login</li>
        <li>Select fundraising site (lower-right)</li>
        <li>Select "donations" under the "manage" section (left side)</li>
        <li>Click export button (<i class="glyphicon glyphicon-download-alt"></i>)</li>
        <li>Select Date Range</li>
        <li>Click Export</li>
        <li>NOTE: This file is already a CSV</li>
    </ol>
</div>
<h5>Example:</h5>
<div>
    <pre>"Donation Page","Fundraiser First Name","Fundraiser Last Name","Fundraiser E-mail","Fundraiser Location","Donor First Name","Donor Last Name","Donor E-mail","Donor Comment",Anonymous,"Line 1","Line 2",City,State,"Zip Code",Country,Amount,"Est. CC Fee","CauseVox Fee",Tip,Type,Recurring,Subscribed,Giftaid,"Transaction ID","Donated at","Teacher's Name","Student's Name"</br>/team/lienau,,,,,David,Larrimore,,,no,,,,,,,12.00,0.00,0.00,0.00,manual,no,no,no,,"2016-08-25 16:27:20"," Kindergarten - Ms. Lienau",david</br>/2-goff-davidl,"David DC",Larrimore,davidlarrimore@gmail.com,0,DC,Larrimore,,,no,,,,,,,2.00,0.00,0.00,0.00,manual,no,no,no,,"2016-08-25 16:35:54"," 2nd Grade - Ms. Goff",David</br></pre>
</div>
<hr/>
<div>
    <h4>Steps to download "FUNRUN LEDGER" sheet</h4>
    <ol>
        <li>
            <a href="https://docs.google.com/a/lrespto.org/spreadsheets/d/1vf5xPgdgBnavyJposwsbawa2WydI-CDIEmNJe6tKTOU/edit?usp=sharing" target="_blank">Go to "FUNRUN LEDGER" Google Sheet</a>
        </li>
        <li>Select File -> Download As -> Comma-seperated Values (.csv, current sheet)</li>
        <li>NOTE: Please leave the header information in the first row</li>
    </ol>

</div>
<h5>Example:</h5>
<div>
    <pre>10/11/2016,"DATE: October, 11 2016",,,<br/>DATE,GRADE,TEACHERS_NAME,STUDENTS_NAME,AMOUNT<br/>10/11/2016,1st Grade,Ms. K Johnson,Amani,$450.00<br/>10/11/2016,1st Grade,Ms. K Johnson,Anabelle,$564.00</pre>
</div>
