<!-- TWIG DESIGNED TO PROVIDE INFORMATION ON UPLOAD FORMAT FOR THE SPECIFIC ENTITY -->
<div>
    <dl class="dl-horizontal">
        <dt>Required Fields</dt>
        <dd>grade, teachers_name, name</dd>
        <dt>Acceptable "Grade"</dt>
        <dd>Kindergarten, "1st Grade", "2nd Grade", "3rd Grade", "4th Grade", "5th Grade", ID, EP</dd>
    </dl>
</div>
<h5>Example:</h5>
<div>
    <pre>grade,teachers_name, name<br/>Kindergarten,"Ms. Wright", <br/>Kindergarten,"Ms. Lienau"<br/></br></pre>
</div>

<br/>
<!-- Table -->
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>grade</th>
            <th>teachers_name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Kindergarten</td>
            <td>Ms. Wright</td>
        </tr>
        <tr>
            <td>Kindergarten</td>
            <td>Ms. Lienau</td>
        </tr>
    </tbody>
</table>
