{% extends 'template.html.twig' %}

{% block title %}
  Register now and join the campaign!
{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-sm-4 offset-sm-1">
      <div class="card">
        <img class="card-img-top img-fluid" src="/assets/img/FunRun2017-banner.png"/>
        <div class="card-block">
          <h4 class="card-title">FR Manager</h4>
          <p class="text">Your one stop shop for school fundraising</p>
        </div>
        <!-- ./card-block -->
      </div>
      <!-- ./card -->
    </div>
    <!-- ./col -->
    <div class="col-sm-6">

      <p style="text-align:left;">
        The first step to joining the campaign is to create a
        <i>FR Manager</i>
        account
        <hr/>
        {% if error is defined %}
          <p class="well-sm bg-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        {% endif %}

        <form name="user" method="post" class="">
          <div class="form-group">
            <div class="col-sm-6">
              <label for="user_firstName">First name</label>
              <input class="form-control" type="text" id="user_firstName" name="user[firstName]">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-8">
              <label for="user_lastName">Last name</label>
              <input type="text" id="user_lastName" name="user[lastName]" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-8">
              <label class="required" for="user_email">Email</label>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                  <i class="fa fa-at" aria-hidden="true"></i>
                </span>
                <input type="email" id="user_email" name="user[email]" required="required" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-8">
              <label class="required" for="user_Password_first">Password</label>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                  <i class="fa fa-key" aria-hidden="true"></i>
                </span>
                <input type="password" id="user_Password_first" name="user[Password][first]" required="required" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-8">
              <label class="required" for="user_Password_second">Confirm Password</label>
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">
                  <i class="fa fa-key" aria-hidden="true"></i>
                </span>
                <input type="password" id="user_Password_second" name="user[Password][second]" required="required" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-check">
            <label for="user_terms_of_service" class="form-check-label">
              <input type="checkbox" id="user_terms_of_service" name="user[terms_of_service]" required="required">
                Click to accept
                <a target="_blank" href="#">terms of service
                  <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
              </label>
          </div>
          <hr>
          <div class="row">
            <div class="col">
              <button type="submit" id="submit" class="btn btn-primary">Register</button>
            </div><!-- ./col -->
            <div class="col">
              <small>Already have a FR Manager account? click
                <a href="{{ path('login') }}">HERE</a>
              </small>
            </div><!-- ./col -->
          </div><!-- ./row -->
        </form>

      </div>
    </div>
    <!-- ./row -->
  {% endblock body %}

  {% block javascript %}
    <script type="text/javascript">
      $('#user_terms_of_service').click(function() {
        if ($(this).attr('checked') == false) {
          $('#submit').attr("disabled", "disabled");
        } else {
          $('#submit').removeAttr('disabled');
        }
      });
    </script>
  {% endblock %}
